In [2]:
import pandas as pd


# Assuming 'id' is the common column in all CSVs
sequence_df = pd.read_csv('1.sequence_features_5461_k_2.3.4.5.6.csv')

# structure_df

In [6]:
helix_df = pd.read_csv('3.Tripple_helix_feature_1.csv')

In [7]:
helix_df

      Triple_Helix_Motif
0                      1
1                      0
2                      0
3                      0
4                      1
...                  ...
1051                   1
1052                   0
1053                   1
1054                   0
1055                   0

[1056 rows x 1 columns]

In [8]:
palindrome_df = pd.read_csv('4.palindrome_count_12_to_20_9.csv')

In [9]:
palindrome_df

      12  13  14  15  16  17  18  19  20
0      0   0   0   0   0   0   0   0   0
1      6   9   4   6   1   1   0   0   0
2      2   2   2   0   1   0   0   0   0
3      0   2   0   0   0   0   0   0   0
4      6   5   4   3   2   1   0   0   0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..
1052   0   1   0   0   0   0   0   0   0
1053   3   6   0   2   0   1   0   1   0
1054   1   1   0   0   0   0   0   0   0
1055   1   0   1   0   0   0   0   0   0
1056   8   7   5   4   3   2   1   0   0

[1057 rows x 9 columns]

In [12]:
pchemical_df = pd.read_csv('5.physicochemical_prpoerties_3.csv')

In [13]:
pchemical_df

      Molecular_Weight_g/mol  GC_Content_%  Melting_Temperature_C
0                321433.7929     50.743802             102.804380
1                349364.7098     45.806768             100.816513
2                312020.8765     45.513165             100.667990
3                791241.8643     58.856756             106.325707
4                158705.6010     54.418605             103.943953
...                      ...           ...                    ...
1052              90913.5220     60.385439             105.803233
1053             152835.3138     48.387097             101.451864
1054              84876.4764     44.285714              99.262653
1055              81929.1637     57.377049             104.449438
1056              87657.5009     43.308550              98.971264

[1057 rows x 3 columns]

In [28]:
orf_df = pd.read_csv("5.1.orf_features.csv")

In [29]:
orf_df

      ORF_Length  ORF_GC_Content  ORF_Count
0            285        0.508772         35
1            195        0.538462         35
2            279        0.455197         21
3            654        0.707951         59
4            174        0.545977         11
...          ...             ...        ...
1052         165        0.678788          4
1053         147        0.435374          9
1054         288        0.472222         10
1055         171        0.608187          8
1056         357        0.462185         10

[1057 rows x 3 columns]

In [30]:
merged_df = pd.concat([sequence_df, helix_df, palindrome_df,pchemical_df, orf_df], axis=1)

In [31]:
merged_df.to_csv('6.Merge_all_features_5477.csv', index=False)

In [32]:
merged_df

,A_freq,T_freq,C_freq,G_freq,GC_content,AC_freq,CC_freq,CT_freq,TT_freq,TG_freq,...,17,18,19,20,Molecular_Weight_g/mol,GC_Content_%,Melting_Temperature_C,ORF_Length,ORF_GC_Content,ORF_Count
0,0.236915,0.255647,0.262810,0.244628,0.507438,0.047409,0.080485,0.089857,0.068908,0.087652,...,0,0,0,0,321433.7929,50.743802,102.804380,285,0.508772,35
1,0.268269,0.273664,0.230505,0.227563,0.458068,0.051521,0.065751,0.078508,0.087341,0.073602,...,1,0,0,0,349364.7098,45.806768,100.816513,195,0.538462,35
2,0.262225,0.282644,0.243418,0.211714,0.455132,0.049462,0.060215,0.083871,0.091398,0.073118,...,0,0,0,0,312020.8765,45.513165,100.667990,279,0.455197,21
3,0.167872,0.243561,0.357659,0.230908,0.588568,0.040226,0.131751,0.114802,0.056949,0.072768,...,0,0,0,0,791241.8643,58.856756,106.325707,654,0.707951,59
4,0.219767,0.236047,0.262791,0.281395,0.544186,0.045402,0.081490,0.083818,0.053551,0.096624,...,1,0,0,0,158705.6010,54.418605,103.943953,174,0.545977,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052,0.190578,0.205567,0.299786,0.304069,0.603854,0.053648,0.072961,0.070815,0.062232,0.062232,...,0,0,0,0,90913.5220,60.385439,105.803233,165,0.678788,4
1053,0.271207,0.244922,0.210275,0.273596,0.483871,0.044258,0.052632,0.069378,0.075359,0.075359,...,1,0,1,0,152835.3138,48.387097,101.451864,147,0.435374,9
1054,0.285714,0.271429,0.200000,0.242857,0.442857,0.053170,0.049080,0.061350,0.071575,0.094070,...,0,0,0,0,84876.4764,44.285714,99.262653,288,0.472222,10
1055,0.213115,0.213115,0.292740,0.281030,0.573770,0.049296,0.091549,0.082160,0.058685,0.082160,...,0,0,0,0,81929.1637,57.377049,104.449438,171,0.608187,8
1056,0.265799,0.301115,0.195167,0.237918,0.433086,0.052142,0.044693,0.065177,0.104283,0.094972,...,2,1,0,0,87657.5009,43.308550,98.971264,357,0.462185,10

In [39]:
class_df = pd.read_csv('feature_class.csv', header = None)

In [40]:
class_df

      0
0     1
1     1
2     1
3     1
4     1
...  ..
1052  7
1053  7
1054  7
1055  7
1056  7

[1057 rows x 1 columns]

In [41]:
merged_with_class_df = pd.concat([merged_df, class_df], axis = 1)

In [42]:
merged_with_class_df

,A_freq,T_freq,C_freq,G_freq,GC_content,AC_freq,CC_freq,CT_freq,TT_freq,TG_freq,...,18,19,20,Molecular_Weight_g/mol,GC_Content_%,Melting_Temperature_C,ORF_Length,ORF_GC_Content,ORF_Count,0
0,0.236915,0.255647,0.262810,0.244628,0.507438,0.047409,0.080485,0.089857,0.068908,0.087652,...,0,0,0,321433.7929,50.743802,102.804380,285,0.508772,35,1
1,0.268269,0.273664,0.230505,0.227563,0.458068,0.051521,0.065751,0.078508,0.087341,0.073602,...,0,0,0,349364.7098,45.806768,100.816513,195,0.538462,35,1
2,0.262225,0.282644,0.243418,0.211714,0.455132,0.049462,0.060215,0.083871,0.091398,0.073118,...,0,0,0,312020.8765,45.513165,100.667990,279,0.455197,21,1
3,0.167872,0.243561,0.357659,0.230908,0.588568,0.040226,0.131751,0.114802,0.056949,0.072768,...,0,0,0,791241.8643,58.856756,106.325707,654,0.707951,59,1
4,0.219767,0.236047,0.262791,0.281395,0.544186,0.045402,0.081490,0.083818,0.053551,0.096624,...,0,0,0,158705.6010,54.418605,103.943953,174,0.545977,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052,0.190578,0.205567,0.299786,0.304069,0.603854,0.053648,0.072961,0.070815,0.062232,0.062232,...,0,0,0,90913.5220,60.385439,105.803233,165,0.678788,4,7
1053,0.271207,0.244922,0.210275,0.273596,0.483871,0.044258,0.052632,0.069378,0.075359,0.075359,...,0,1,0,152835.3138,48.387097,101.451864,147,0.435374,9,7
1054,0.285714,0.271429,0.200000,0.242857,0.442857,0.053170,0.049080,0.061350,0.071575,0.094070,...,0,0,0,84876.4764,44.285714,99.262653,288,0.472222,10,7
1055,0.213115,0.213115,0.292740,0.281030,0.573770,0.049296,0.091549,0.082160,0.058685,0.082160,...,0,0,0,81929.1637,57.377049,104.449438,171,0.608187,8,7
1056,0.265799,0.301115,0.195167,0.237918,0.433086,0.052142,0.044693,0.065177,0.104283,0.094972,...,1,0,0,87657.5009,43.308550,98.971264,357,0.462185,10,7

In [47]:
merged_with_class_df.fillna(0, inplace=True)

In [48]:
merged_with_class_df.to_csv('6.Merge_all_features_5477_with_class.csv', index=False)

In [49]:
merged_with_class_df

,A_freq,T_freq,C_freq,G_freq,GC_content,AC_freq,CC_freq,CT_freq,TT_freq,TG_freq,...,18,19,20,Molecular_Weight_g/mol,GC_Content_%,Melting_Temperature_C,ORF_Length,ORF_GC_Content,ORF_Count,0
0,0.236915,0.255647,0.262810,0.244628,0.507438,0.047409,0.080485,0.089857,0.068908,0.087652,...,0,0,0,321433.7929,50.743802,102.804380,285,0.508772,35,1
1,0.268269,0.273664,0.230505,0.227563,0.458068,0.051521,0.065751,0.078508,0.087341,0.073602,...,0,0,0,349364.7098,45.806768,100.816513,195,0.538462,35,1
2,0.262225,0.282644,0.243418,0.211714,0.455132,0.049462,0.060215,0.083871,0.091398,0.073118,...,0,0,0,312020.8765,45.513165,100.667990,279,0.455197,21,1
3,0.167872,0.243561,0.357659,0.230908,0.588568,0.040226,0.131751,0.114802,0.056949,0.072768,...,0,0,0,791241.8643,58.856756,106.325707,654,0.707951,59,1
4,0.219767,0.236047,0.262791,0.281395,0.544186,0.045402,0.081490,0.083818,0.053551,0.096624,...,0,0,0,158705.6010,54.418605,103.943953,174,0.545977,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1052,0.190578,0.205567,0.299786,0.304069,0.603854,0.053648,0.072961,0.070815,0.062232,0.062232,...,0,0,0,90913.5220,60.385439,105.803233,165,0.678788,4,7
1053,0.271207,0.244922,0.210275,0.273596,0.483871,0.044258,0.052632,0.069378,0.075359,0.075359,...,0,1,0,152835.3138,48.387097,101.451864,147,0.435374,9,7
1054,0.285714,0.271429,0.200000,0.242857,0.442857,0.053170,0.049080,0.061350,0.071575,0.094070,...,0,0,0,84876.4764,44.285714,99.262653,288,0.472222,10,7
1055,0.213115,0.213115,0.292740,0.281030,0.573770,0.049296,0.091549,0.082160,0.058685,0.082160,...,0,0,0,81929.1637,57.377049,104.449438,171,0.608187,8,7
1056,0.265799,0.301115,0.195167,0.237918,0.433086,0.052142,0.044693,0.065177,0.104283,0.094972,...,1,0,0,87657.5009,43.308550,98.971264,357,0.462185,10,7