In [7]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
import pandas as pd

In [8]:
# Apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=chi2, k=100)

In [9]:
df = pd.read_csv("6.Merge_all_features_5477_with_class.csv")

In [17]:
X.head(3)

,A_freq,T_freq,C_freq,G_freq,GC_content,AC_freq,CC_freq,CT_freq,TT_freq,TG_freq,...,17,18,19,20,Molecular_Weight_g/mol,GC_Content_%,Melting_Temperature_C,ORF_Length,ORF_GC_Content,ORF_Count
0,0.236915,0.255647,0.262810,0.244628,0.507438,0.047409,0.080485,0.089857,0.068908,0.087652,...,0,0,0,0,321433.7929,50.743802,102.804380,285,0.508772,35
1,0.268269,0.273664,0.230505,0.227563,0.458068,0.051521,0.065751,0.078508,0.087341,0.073602,...,1,0,0,0,349364.7098,45.806768,100.816513,195,0.538462,35
2,0.262225,0.282644,0.243418,0.211714,0.455132,0.049462,0.060215,0.083871,0.091398,0.073118,...,0,0,0,0,312020.8765,45.513165,100.667990,279,0.455197,21

In [18]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [19]:
fit = bestfeatures.fit(X, y)  # X, y are your data

In [20]:
dfscores = pd.DataFrame(fit.scores_)

In [21]:
dfcolumns = pd.DataFrame(X.columns)

In [22]:
# Concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns, dfscores], axis=1)

In [23]:
featureScores.columns = ['Specs', 'Score']  # Naming the dataframe columns

In [24]:
print(featureScores.nlargest(100,'Score'))  # Print 10 best features

                       Specs         Score
5471  Molecular_Weight_g/mol  1.168150e+08
5476               ORF_Count  1.451864e+04
5474              ORF_Length  1.400355e+04
5463                      13  2.308785e+03
5462                      12  1.928946e+03
...                      ...           ...
2271             TTTTTT_freq  1.565283e-01
642               CGGAG_freq  1.564185e-01
980               ACACA_freq  1.548110e-01
231                AAAA_freq  1.529441e-01
61                  TCT_freq  1.508691e-01

[100 rows x 2 columns]

In [25]:
featureScores.nlargest(100,'Score')

                       Specs         Score
5471  Molecular_Weight_g/mol  1.168150e+08
5476               ORF_Count  1.451864e+04
5474              ORF_Length  1.400355e+04
5463                      13  2.308785e+03
5462                      12  1.928946e+03
...                      ...           ...
2271             TTTTTT_freq  1.565283e-01
642               CGGAG_freq  1.564185e-01
980               ACACA_freq  1.548110e-01
231                AAAA_freq  1.529441e-01
61                  TCT_freq  1.508691e-01

[100 rows x 2 columns]

In [26]:
df_best_100_univariate_selection = featureScores.nlargest(100,'Score')

In [27]:
df_best_100_univariate_selection

                       Specs         Score
5471  Molecular_Weight_g/mol  1.168150e+08
5476               ORF_Count  1.451864e+04
5474              ORF_Length  1.400355e+04
5463                      13  2.308785e+03
5462                      12  1.928946e+03
...                      ...           ...
2271             TTTTTT_freq  1.565283e-01
642               CGGAG_freq  1.564185e-01
980               ACACA_freq  1.548110e-01
231                AAAA_freq  1.529441e-01
61                  TCT_freq  1.508691e-01

[100 rows x 2 columns]

In [28]:
df_best_100_univariate_selection.to_csv("1.best_100_features_univariate_selection_test.csv", index = False)

In [29]:
featureScores.nlargest

<bound method DataFrame.nlargest of                       Specs         Score
0                    A_freq      0.532113
1                    T_freq      0.664944
2                    C_freq      0.483088
3                    G_freq      0.831685
4                GC_content      1.228829
...                     ...           ...
5472           GC_Content_%    122.882875
5473  Melting_Temperature_C      7.416239
5474             ORF_Length  14003.554197
5475         ORF_GC_Content      1.350645
5476              ORF_Count  14518.636882

[5477 rows x 2 columns]>